{% extends 'backend.html.twig' %}

{% block title %}Editar Asignación
{% endblock %}

{% block article %}
	<h1 class="text-center back-white">Editar Asignación</h1>

	<div class="back-white">
		{{ include('asignacion/_form.html.twig', {'button_label': 'Aceptar'}) }}
	</div>

	<div class="btn-group">
		<a href="{{ path('app_asignacion_index') }}" class="btn btn-secondary"><i class="ti ti-square-arrow-left"></i> Asignaciones</a>
		{{ include('asignacion/_delete_form.html.twig') }}
	</div>
{% endblock %}
