<form method="post" action="{{ path('app_lugar_delete', {'id': lugar.id}) }}" onsubmit="return confirm('¿Desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lugar.id) }}">
    <button class="btn btn-danger"><i class="ti ti-trash"></i> Eliminar</button>
</form>
