{% extends 'backend.html.twig' %}

{% block title %}Nuevo Lugar
{% endblock %}

{% block article %}
	<h1 class="text-center back-white">Insertar Lugar</h1>

	<div class="back-white">
		{{ include('lugar/_form.html.twig') }}
	</div>

	<a href="{{ path('app_lugar_index') }}" class="btn btn-secondary">Lugares</a>
{% endblock %}
