{% extends 'backend.html.twig' %}

{% block title %}Editar Tipo
{% endblock %}

{% block article %}
	<h1 class="text-center back-white">Editar Tipo</h1>

	<div class="back-white">
		{{ include('tipo/_form.html.twig', {'button_label': 'Aceptar'}) }}
	</div>

	<div class="btn-group">
		<a href="{{ path('app_tipo_index') }}" class="btn btn-secondary">Tipo</a>
		{{ include('tipo/_delete_form.html.twig') }}
	</div>
{% endblock %}
