{% extends 'backend.html.twig' %}

{% block title %}Insertar Tipo
{% endblock %}

{% block article %}
	<h1 class="text-center back-white">Insertar Tipo</h1>

	<div class="back-white">
		{{ include('tipo/_form.html.twig') }}
	</div>

	<a href="{{ path('app_tipo_index') }}" class="btn btn-secondary">Tipo</a>
{% endblock %}
